{% extends "main/master.html" %}

{% block title %}
    spendings
{% endblock %}

{% block content %}
<p class="text-center h1"><span class="badge bg-dark rounded rounded-2">Personal spendings {{myuser}}</span></p>
<div class="d-flex justify-content-end p-2 ms-3 me-3">
    <form class="d-flex">
        <div class="d-flex me-2"><input type="text" class="form-control" name="q" value="{{ query }}"></input></div>
        <div class="d-flex"><button type="submit" class="btn btn-outline-success btn-md me-2"><i class="fa-solid fa-magnifying-glass"></i></button></div>
    </form>
    <a href="{% url 'spendingscsv' %}"><button class="btn btn-outline-success btn-md me-2" type="button"><i class="fa-solid fa-file-csv"></i></button></a>
    <a href="{% url 'add_spending' %}"><button class="btn btn-outline-success btn-md" type="button"><i class="fa-solid fa-plus"></i></button></a>
</div>
<div class="d-flex p-2">
    <div class="flex-grow-1">
        <ul class="list-group">
            {% for spending in spendings_page %}
            <li class="list-group-item d-flex border-0">
                <a href="{% url 'edit_spending' spending.id %}" class="list-group-item list-group-item-action list-group-item-info rounded rounded-3 me-1">
                    <small><i class="fa-solid fa-calendar-days"></i> {{spending.date.day}}.{{spending.date.month}}.{{spending.date.year}}</small><br>
                    <div class="d-flex justify-content-between">
                        {% for category in  allcategories %}
                            {% if category.id == spending.category_id %}
                                <td>{{category.description}}</td>
                            {% endif %}
                        {% endfor %}
                        <span class="badge bg-success rounded-pill align-self-end">{{spending.amount}} <i class="fa-solid fa-ruble-sign"></i></span>
                    </div>
                </a>
                <a href="{% url 'delete_spending' spending.id %}" class="align-self-center"><button type="button" class="btn btn-outline-danger btn-lg"><i class="fa-solid fa-trash-can"></i></button></a>
            </li>  
            {% endfor %}
        </ul>
    </div>
</div>
<div class="d-flex justify-content-center p-2">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if spendings_page.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{spendings_page.previous_page_number}}&q={{ query }}"><i class="fa-solid fa-angle-left"></i></a></li>
            {% endif %}
            {% if nums_ge_6 %}
                {% if spendings_page.number == 1 %}
                    <a class="page-link active" href="?page=1&q={{ query }}">1</a>
                {% else %}
                    <a class="page-link" href="?page=1&q={{ query }}">1</a>
                {% endif %}
                {% if spendings_page.number == 2 %}
                    <a class="page-link active" href="?page=2&q={{ query }}">2</a>
                {% else %}
                    <a class="page-link" href="?page=2&q={{ query }}">2</a>
                {% endif %}
                {% if spendings_page.number == 3 %}
                    <a class="page-link active" href="?page=3&q={{ query }}">3</a>
                {% else %}
                    <a class="page-link" href="?page=3&q={{ query }}">3</a>
                {% endif %}
                {% if spendings_page.number > 3 and preprelast_num_page > spendings_page.number %}
                    <a class="page-link active" href="?page={{spendings_page.number}}&q={{ query }}">{{spendings_page.number}}</a>
                {% else %}
                    <a class="page-link disabled" href="?page=3">...</a>
                {% endif %}
                {% if spendings_page.number == preprelast_num_page %}
                    <a class="page-link active" href="?page={{preprelast_num_page}}&q={{ query }}">{{preprelast_num_page}}</a>
                {% else %}
                    <a class="page-link" href="?page={{preprelast_num_page}}&q={{ query }}">{{preprelast_num_page}}</a>
                {% endif %}
                {% if spendings_page.number == prelast_num_page %}
                    <a class="page-link active" href="?page={{prelast_num_page}}&q={{ query }}">{{prelast_num_page}}</a>
                {% else %}
                    <a class="page-link" href="?page={{prelast_num_page}}&q={{ query }}">{{prelast_num_page}}</a>
                {% endif %}
                {% if spendings_page.number == last_num_page %}
                    <a class="page-link active" href="?page={{last_num_page}}&q={{ query }}">{{last_num_page}}</a>
                {% else %}
                    <a class="page-link" href="?page={{last_num_page}}&q={{ query }}">{{last_num_page}}</a>
                {% endif %}                
            {% else %}
                {% for i in nums %}
                    {% if forloop.counter == spendings_page.number %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{forloop.counter}}&q={{ query }}">
                                {{ forloop.counter }}
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{forloop.counter}}&q={{ query }}">
                                {{ forloop.counter }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if spendings_page.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{spendings_page.next_page_number}}&q={{ query }}"><i class="fa-solid fa-angle-right"></i></a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}  