{% extends "main/master.html" %}

{% block title %}
    spendings
{% endblock %}

{% block content %}
<p class="text-center h1"><span class="badge bg-dark rounded rounded-2">Personal spendings {{myuser}}</span></p>
<div class="d-flex justify-content-end p-2 ms-3 me-3">
    <form class="d-flex">
        <div class="d-flex me-2"><input type="text" class="form-control" name="q"></input></div>
        <div class="d-flex"><button type="submit" class="btn btn-outline-success btn-lg me-2"><i class="fa-solid fa-magnifying-glass"></i></button></div>
    </form>
    <a href="{% url 'spendingscsv' %}"><button class="btn btn-outline-success btn-lg me-2" type="button"><i class="fa-solid fa-file-csv"></i></button></a>
    <a href="{% url 'add_spending' %}"><button class="btn btn-outline-success btn-lg" type="button"><i class="fa-solid fa-plus"></i></button></a>
</div>
<div class="d-flex p-2">
    <div class="flex-grow-1">
        <ul class="list-group">
            {% for spending in spendings_page %}
            <li class="list-group-item d-flex border-0">
                <a href="{% url 'edit_spending' spending.id %}" class="list-group-item list-group-item-action list-group-item-info rounded rounded-3 me-1">
                    
                    <small><i class="fa-solid fa-calendar-days"></i> {{spending.date.day}}.{{spending.date.month}}.{{spending.date.year}}</small><br>
                    <div class="d-flex justify-content-between">
                        {% for category in  allcategories %}
                            {% if category.id == spending.category_id %}
                                <td>{{category.description}}</td>
                            {% endif %}
                        {% endfor %}
                        <span class="badge bg-success rounded-pill align-self-end">{{spending.amount}} <i class="fa-solid fa-ruble-sign"></i></span>
                    </div>
                </a>
                <a href="{% url 'delete_spending' spending.id %}" class="align-self-center"><button type="button" class="btn btn-outline-danger btn-lg"><i class="fa-solid fa-trash-can"></i></button></a>
            </li>  
            {% endfor %}
        </ul>
    </div>
</div>
<div class="d-flex justify-content-center p-2">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if spendings_page.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{spendings_page.previous_page_number}}">Previous</a></li>
            {% endif %}
            {% if nums_ge_6 %}
                <a class="page-link" href="?page=1">1</a>
                <a class="page-link" href="?page=2">2</a>
                <a class="page-link" href="?page=3">3</a>
                <a class="page-link disabled" href="?page=3">...</a>
                <a class="page-link" href="?page={{preprelast_num_page}}">{{preprelast_num_page}}</a>
                <a class="page-link" href="?page={{prelast_num_page}}">{{prelast_num_page}}</a>
                <a class="page-link" href="?page={{last_num_page}}">{{last_num_page}}</a>
            {% else %}
                {% for i in nums %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{forloop.counter}}">
                            {{ forloop.counter }}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if spendings_page.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{spendings_page.next_page_number}}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
</div>



{% endblock %}  