{% extends "main/master.html" %}

{% block title %}
    About us
{% endblock %}

{% block content %}
<div class="text-right m-3">
    
    <p class="fs-4 lh-md">
        <kbd>Financial web application</kbd> is digital tool that can help individuals manage their personal finances. Some of the things that can do include:
        <kbd>Budget tracking:</kbd> allows users to track their spending by categorizing expenses, creating budgets, and analyzing their spending habits.
        <kbd>Money management:</kbd> provides a complete overview of an individual's financial situation, including income, expenses, investments, and debt.
        Overall, financial web app is a convenient and effective way to manage personal finances, allowing individuals to track their spending, manage their bills, and plan for their financial future.
    </p>
</div>
<div class="row">
    <div class="col-md-6 ">
        <p class="fs-2 text-center">What is <kbd>Financial literacy</kbd>?</p>
        <div class="border-top border-5 rounded-5 border-dark m-3 p-4">
            <p class="fst-light fs-5">Financial literacy refers to the knowledge and skills required to make informed and effective decisions regarding the management of personal finances. It includes understanding concepts such as budgeting, saving, investing, and understanding various financial products and services such as credit cards, loans, insurance, and retirement plans. Financial literacy empowers individuals to take control of their financial future and make informed choices about their money.</p>
            <p class="fst-light fs-5">In conclusion, financial literacy is a crucial life skill that enables individuals to make informed decisions about their personal finances and achieve their financial goals. It encompasses a range of concepts such as budgeting, saving, investing, and understanding financial products and services. Improving financial literacy requires ongoing education and practical application of financial principles. By developing financial literacy skills, individuals can improve their financial well-being, reduce financial stress, and prepare for a secure financial future.</p>
        </div> 
    </div>
    <div class="col-md-6">
        <p class="fs-2 text-center">How to improve <kbd>Financial literacy</kbd>?</p>
        <div class="border-top border-5 rounded-5 border-dark m-3 p-4">
            <p class="fst-light fs-5">1. Educate yourself: Read books, articles, and websites on personal finance, investing, and budgeting to expand your knowledge.</p>
            <p class="fst-light fs-5">2. Create a budget: Track your income and expenses to gain a better understanding of your spending habits and identify areas where you can cut costs.</p>
            <p class="fst-light fs-5">3. Use financial tools and resources: Take advantage of online tools and resources such as budgeting apps, investment calculators, and financial planning websites.</p>
            <p class="fst-light fs-5">4. Seek professional advice: Consult a financial advisor or attend financial literacy workshops to get personalized advice and guidance.</p>
            <p class="fst-light fs-5">5. Practice smart spending habits: Make a conscious effort to save money, pay off debt, and invest for the future.</p>
            <p class="fst-light fs-5">6. Stay informed: Keep up-to-date with current events and changes in the financial industry to remain informed and make informed decisions.</p>
        </div>    
    </div>
    <div class="col-md-12">
        <p class="fs-2 text-center">What is <kbd>Financial literacy</kbd>for ?</p>
        <div class="border-top border-5 rounded-5 border-dark m-3 p-4">
            <p class="fst-light fs-5">1. Making informed financial decisions: Financial literacy provides individuals with the knowledge and skills necessary to make informed decisions about managing their money and achieving their financial goals.</p>
            <p class="fst-light fs-5">2. Improving financial well-being: Financial literacy helps individuals understand how to budget, save, invest, and manage debt effectively, which can lead to improved financial stability and well-being.</p>
            <p class="fst-light fs-5">3. Building wealth: By understanding basic financial concepts, individuals can make better investment decisions and build wealth over time.</p>
            <p class="fst-light fs-5">4. Reducing financial stress: Financial literacy can help individuals avoid financial scams and reduce the stress and anxiety associated with managing money.</p>
            <p class="fst-light fs-5">5. Preparing for retirement: Financial literacy is essential for preparing for retirement, including understanding different retirement savings options, planning for retirement income, and estimating future expenses.</p>
        </div>    
    </div>
</div>
{% endblock %}  