{% extends "main/master.html" %}

{% block title %}
Home page
{% endblock %}

{% block content %}
<ul class="list-group list-group-horizontal">
  <li class="list-group-item text-center text-white bg-dark rounded-pill m-2" style="width: 33%">
    <span class="fs-1 fw-bold"><i class="fa-solid fa-magnifying-glass-dollar"></i></span>
    <p><span class="fs-3">TRACKING</span></p>
  </li>
  <li class="list-group-item text-center text-white bg-dark rounded-pill m-2" style="width: 33%">
    <span class="fs-1 fw-bold"><i class="fa-solid fa-chart-pie"></i></span>
    <p><span class="fs-3">ANALYZE</span></p>
  </li>
  <li class="list-group-item text-center text-white bg-dark rounded-pill m-2" style="width: 33%">
    <span class="fs-1 fw-bold"><i class="fa-solid fa-sack-dollar"></i></span>
    <p><span class="fs-3">PROSPER</span></p>
  </li>
</ul>
<ul class="list-group list-group-horizontal">
  <li class="list-group-item text-center border-0 m-2" style="width: 33%">
    <p class="fst-light fs-5">Keep track of your expenses and income.</p>
  </li>
  <li class="list-group-item text-center border-0 m-2" style="width: 33%">
    <p class="fst-light fs-5">Analyze your spending and make informed choices about their money, including budgeting, saving, investing, and managing debt.</p>
  </li>
  <li class="list-group-item text-center border-0 m-2" style="width: 33%">
    <p class="fst-light fs-5">Get knowledge and skills to invest their money wisely and build wealth over time.</p>
  </li>
</ul>
{% endblock %}  